.root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --primary-color: #fff;
  --color-1: #220c10;
  --color-2: #506c64;
  --color-3: #77cbb9;
  --color-4: #75b8c8;
  --color-5: #cdd3d5;
}

/* Contact Start */
.contact {
  display: flex;
  align-items: center;
  height: 43rem;
  border: #ececec solid;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contact-list {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}

.contact-list div {
  width: 100%;
}

/* Name List Start */
.name-list {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 0 auto;
}

.scrollable-list {
  width: 100%;
  position: relative;
  height: 38rem;
  overflow: auto;
  text-align: justify;
  padding: 0 20px;
}

.contact-name {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact-name div {
  width: 100%;
  margin: 0 auto;
}

.contact-name h2 {
  margin-top: 20px;
  font-size: 2rem;
}

.contact-name ul {
  list-style: none;
  padding: 0;
}

.contact-name li {
  display: flex;
  align-items: center;
  padding: 10px;
}

.edit-icon {
  display: block;
  margin: 2px;
  padding: 4px;
  width: 25px;
  height: 25px;
  background-color: #4e65ff;
  border-radius: 5px;
  color: white;
}

.delete-icon {
  display: block;
  margin: 2px;
  padding: 4px;
  width: 25px;
  height: 25px;
  background-color: tomato;
  border-radius: 5px;
  color: white;
}

.contact-name li::before {
  content: attr(data-alphabet);
}

.contact-name span {
  display: block;
  font-size: large;
  font-weight: 600;
}

/* Header Contact */
.header-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  /* width: 4rem; */
  border-bottom: 1px #ececec solid;
}

.header-contact div {
  display: flex;
  width: 25rem;
  height: 1rem;
  align-items: center;
  justify-content: center;
}

ul#contact_rendered {
  list-style-type: none;
  padding: 0;
}

ul#contact_rendered li {
  margin: 5px 0;
  padding: 5px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
}

ul#contact_rendered li:hover {
  background-color: #4e65ff;
  /* opacity: 0.8; */
  color: #fff;
}

ul#contact_rendered li span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
}

.contact-phone-span {
  font-weight: 600;
}

.create-contact-button {
  position: absolute;
  background-color: #4e65ff;
  border: none;
  border-radius: 5px;
  bottom: 2rem;
  left: 92%;
  height: 3rem;
  width: 3rem;
}

.create-contact-button svg {
  margin: 8px;
}

/* Style the sticky header for each alphabet section */
.contact-name h2 {
  position: sticky;
  top: 0;
  padding-left: 0.5rem;
  background-color: #f5f5f5;
  color: #4e65ff;
}

.contact-name img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

/* Name List End */

.contact-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: #4e65ff;
  border-bottom-right-radius: 10px;
}

.contact-profile img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
/* Contact End */

@media only screen and (max-width: 828px) {
  .header-contact {
    width: 70%;
  }
}
