/* Container Start */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: auto;
  background-color: #4e65ff;
}

.container .content-form {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: start;
  width: 55%;
}

.form {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  gap: 1rem;
}

.column {
  flex: 1;
  margin-right: 10px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.form-button {
  margin: 3px 0;
  border: none;
  height: 3rem;
  width: 6rem;
  background-color: #4e65ff;
  color: #fff;
  border-radius: 5px;
}

.form-button span {
  font-size: medium;
}

.form-button-cancel {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 3px 0;
  border: none;
  height: 3rem;
  width: 6rem;
  background-color: tomato;
  color: #fff;
  border-radius: 5px;
}

.form-button-cancel span {
  font-size: medium;
}
/* Container End */
