/* Import CSS */
@import "sidebar.css";
@import "searchbar.css";
@import "contact.css";
@import "contact-form.css";

/* styles.css */
:root {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar Start */
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
/* Custom Scrollbar End */

/* Main Start */
main {
  margin-left: 5rem;
  padding: 1rem;
}

.header {
  display: flex;
  align-items: center;
  border: #ececec solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header div {
  margin-left: 1rem;
}

header div h1 {
  font-size: 1px;
}

/* Main End */
