/* styles.css */
:root {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar Start */
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
/* Custom Scrollbar End */

/* SIDEBAR Start */
.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  z-index: 2;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
}
.navbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.2rem;
  letter-spacing: 0.2ch;
  width: 100%;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.1rem;
  letter-spacing: 0.2ch;
  width: 100%;
}

.logo-text {
  display: inline;
  position: absolute;
  left: 4rem;
  transition: var(--transition-speed);
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
}
.nav-link:hover {
  background-color: var(--bg-secondary);
}
.link-text {
  display: none;
  margin-left: 1rem;
  animation: fadeIn 0.5s;
}
.nav-link svg {
  width: 1.6rem;
  height: 1.6rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}
.navbar:hover {
  width: 14rem;
}
.navbar:hover .link-text {
  display: block;
}
.fa-primary {
  color: #ececec;
}
.fa-secondary {
  color: #b6b6b6;
}
.fa-primary.fa-secondary {
  transition: var(--transition-speed);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* SIDEBAR End */

/* Main Start */
main {
  margin-left: 5rem;
  padding: 1rem;
}

.header {
  display: flex;
  align-items: center;
  border: #ececec solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header div {
  margin-left: 1rem;
}

header div h1 {
  font-size: 1px;
}
/* Search Bar Start */
.search-bar {
  display: flex;
  /* position: relative; */
  /* left: 15rem; */
  margin: 0.5rem 0 0.5rem 0;
  width: 100%;
  height: auto;
  height: 2.6rem;
  margin-left: 0px;
}
.search-bar input[type="text"] {
  display: inline-block;
  margin-left: 0.5rem;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #ececec;
  height: auto;
  width: 100%;
  outline: none;
  top: 10vh;
  padding-left: 3vh;
}
.search-bar button {
  border: none;
  margin-right: 0.5rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #4e65ff;
  height: 2.6rem;
  width: 2.6rem;
}
.search-bar button svg {
  height: 1.3rem;
  width: 1.3rem;
}
/* responsive*/
@media only screen and (max-width: 828px) {
  .search-bar:hover > .search-bar input {
    width: 125px;
  }
}
/* Search Bar End */

/* Contact Start */
.contact {
  display: flex;
  align-items: center;
  height: 42rem;
  border: #ececec solid;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.contact-list {
  display: flex;
  width: 50%;
  height: 100%;
  background-color: var(#ececec);
}
.contact-list div {
  width: 100%;
  /* padding: 0.5rem */
}
/* Name List Start */
.name-list {
  display: flex;
  flex-direction: row;
  max-width: 100%px;
  margin: 0 auto;
}
.scrollable-list {
  width: 100%;
  position: relative;
  height: 36rem;
  overflow: auto;
  text-align: justify;
  padding: 20px;
}
.contact-name {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.contact-name div {
  width: 100%;
}

.contact-name h2 {
  margin-top: 20px;
  font-size: 2rem;
}

.contact-name ul {
  list-style: none;
  padding: 0;
}

.contact-name li {
  display: flex;
  align-items: center;
  padding: 10px;
}

.contact-name li::before {
  content: attr(data-alphabet);
}

.contact-name span {
  display: block;
  padding-left: 1rem;
  font-size: x-large;
  font-weight: 600;
}

/* Style the sticky header for each alphabet section */
.contact-name h2 {
  position: sticky;
  top: 0;
  padding-left: 0.5rem;
  background-color: #f5f5f5;
  color: #4e65ff;
}

.contact-name img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

/* Name List End */

.contact-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: #4e65ff;
  border-bottom-right-radius: 10px;
}

.contact-profile img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
/* Contact End */
/* Main End */
